# API URL for backend
NEXT_PUBLIC_API_URL=https://reviewportal-api-escdb3f2epg8eeha.southeastasia-01.azurewebsites.net/api

# Server-side API base URL
API_URL=https://reviewportal-api-escdb3f2epg8eeha.southeastasia-01.azurewebsites.net/api

# Auth cookie name
AUTH_COOKIE_NAME=rp_auth
